<h1>esta es mi página new</h1>
<%= form_with model: @sale, local: true do |form| %>

<%= form.label :detail %>
<%= form.text_area :detail %>

<%= form.label :category %>
<%= form.text_field :category %>

<%= form.label :value %>
<%= form.number_field :value %>

<%= form.label :discount %>
<%= form.number_field :discount %>

<label for="Excento_IVA">Excento de IVA</label>
<input type="checkbox" name="Excento_IVA">

<%= form.submit "CREAR"%>
<% end %>
